
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
    background-image: url('img/bg.jpg'); 
    background-attachment: fixed; 
    background-size: cover;       
    background-position: center; 
    margin: 0;
    padding: 0;
    color: white; 
    background-repeat: no-repeat;
}

h1{
 justify-content: center;

}
img{
border-radius: 34%;
width: 400px;
height: 400px;
padding: auto;
justify-content: center;

}

.img{
    width: 2px;
    height: 10px;
    border-radius: 100%;
}

#table{
    border-color: black;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid rgb(234, 255, 0);
}

[class*="coldiv-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(243, 7, 7);
    
    background: linear-gradient(to right, #2ecc71, #3498db);
    opacity: 98%;

}




#headtit{
font-size: large;

}

#secDivUno{
    background-color: antiquewhite;
    background: #f4f4f4;

}

#head {
    background: linear-gradient(to right, #2ecc71, #3498db);
    width: 100%;
    height: 50px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#asideright ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#asideright li {
    padding: 0;
}

#asideright {
    margin-left: auto;
}

#head .logo {
    flex-grow: 1;
    width: 40px;
height: 40px; 
}

#asideright ul {
    display: flex;
}

#asideright li a {
    text-decoration: none;
    color: rgb(245, 245, 246);
}

#divSearch{
border-color: #2ecc71;
background: #000;
background-color: #2ecc71;

}

/* punto de interrupción -Pantalla grande (large) lg*/
@media(min-width: 1200px) {
    .col-lg-12	{	width: 100%;		}
    .col-lg-11	{	width: 91.66666667%;}
    .col-lg-10	{	width: 83.33333333%;}
    .col-lg-9	{	width: 75%;		}
    .col-lg-8	{	width: 66.66666667%;}
    .col-lg-7	{	width: 58.33333333%;}
    .col-lg-6	{	width: 50%;		}
    .col-lg-5	{	width: 41.66666667%;}
    .col-lg-4	{	width: 33.33333333%;}
    .col-lg-3	{	width: 25%;		}
    .col-lg-2	{	width: 16.66666667%;}
    .col-lg-1	{	width: 8.33333333%;	}
}
/* Pantalla mediano (medium) md*/
@media(max-width: 1199px) and (min-width:992px) {
    .col-md-12	{	width: 100%;		}
    .col-md-11	{	width: 91.66666667%;}
    .col-md-10	{	width: 83.33333333%;}
    .col-md-9	{	width: 75%;		}
    .col-md-8	{	width: 66.66666667%;}
    .col-md-7	{	width: 58.33333333%;}
    .col-md-6	{	width: 50%;		}
    .col-md-5	{	width: 41.66666667%;}
    .col-md-4	{	width: 33.33333333%;}
    .col-md-3	{	width: 25%;		}
    .col-md-2	{	width: 16.66666667%;}
    .col-md-1	{	width: 8.33333333%;	}
}
/* Pantalla tablet (small) sm*/
@media(max-width:991px) and (min-width:768px) {
    .col-sm-12	{	width: 100%;		}
    .col-sm-11	{	width: 91.66666667%;}
    .col-sm-10	{	width: 83.33333333%;}
    .col-sm-9	{	width: 75%;		}
    .col-sm-8	{	width: 66.66666667%;}
    .col-sm-7	{	width: 58.33333333%;}
    .col-sm-6	{	width: 50%;		}
    .col-sm-5	{	width: 41.66666667%;}
    .col-sm-4	{	width: 33.33333333%;}
    .col-sm-3	{	width: 25%;		}
    .col-sm-2	{	width: 16.66666667%;}
    .col-sm-1	{	width: 8.33333333%;	}
}
/* Pantalla telefonos (extra small) xs*/
@media(max-width:767px) {
    .col-xs-12	{	width: 100%;		}
    .col-xs-11	{	width: 91.66666667%;}
    .col-xs-10	{	width: 83.33333333%;}
    .col-xs-9	{	width: 75%;		}
    .col-xs-8	{	width: 66.66666667%;}
    .col-xs-7	{	width: 58.33333333%;}
    .col-xs-6	{	width: 50%;		}
    .col-xs-5	{	width: 41.66666667%;}
    .col-xs-4	{	width: 33.33333333%;}
    .col-xs-3	{	width: 25%;		}
    .col-xs-2	{	width: 16.66666667%;}
    .col-xs-1	{	width: 8.33333333%;	}
}