
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== CARD ===============*/
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 100%;
    object-fit: auto;
    border-radius: 1.5rem;
    padding: auto;
    height: auto;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }


*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
    background-image: url('img/bg.jpg'); 
    background-attachment: fixed; 
    background-size: cover;       
    background-position: center; 
    margin: 0;
    padding: 0;
    color: white; 
    background-repeat: no-repeat;
}

h1{
 justify-content: center;

}

.img{
    width: 2px;
    height: 10px;
    border-radius: 100%;
}

#table{
    border-color: black;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid rgb(234, 255, 0);
}

[class*="coldiv-"] {
    float: left;
    padding: 15px;
    border: 1px solid rgb(243, 7, 7);
    
    background: linear-gradient(to right, #2ecc71, #3498db);
    opacity: 89%;

}
[class*="colh1-"] {
  float: left;
  padding: 15px;
  border: 1px solid rgb(243, 7, 7);
  
  background-color: brown;
  opacity: 89%;

}




#headtit{
font-size: large;

}

#secDivUno{
    background-color: antiquewhite;
    background: #f4f4f4;

}

#head {
    background: linear-gradient(to right, #2ecc71, #3498db);
    width: 100%;
    height: 50px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#asideright ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#asideright li {
    padding: 0;
}

#asideright {
    margin-left: auto;
}

#head .logo {
    flex-grow: 1;
    width: 40px;
height: 40px; 
}

#asideright ul {
    display: flex;
}

#asideright li a {
    text-decoration: none;
    color: rgb(245, 245, 246);
}

#divSearch{
border-color: #2ecc71;
background: #000;
background-color: #2ecc71;

}

footer{
    padding:20px 10px;
    height: 100%;
    padding: auto;
    width: 100%;
    }
    footer div{
    background:#706f6b;
    text-align:center;
    line-height:50px;
    color:rgb(238, 16, 16);
    }

    .tabla-imagenes {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        margin-bottom: 1rem;
      }
      
      .tabla-imagenes td {
        padding: 0;
        margin: 0;
        text-align: center;
        vertical-align: top;
      }
      
      .img-ajustada {
        width: 100%;
        display: block;
        max-width: 100%; 
        height: auto;
        object-fit: cover;
        border-radius: 80%;
      }
      
      .descripcion-habitacion {
        padding: 1rem;
        background-color: #eef2f2;
        opacity: 0.95;
        border-radius: 8px;
      }
      
      .descripcion-habitacion h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #333;
      }
      
      .descripcion-contenido p {
        color: #444;
        font-size: 1rem;
        line-height: 1.6;
      }
      

    

/* punto de interrupción -Pantalla grande (large) lg*/
@media(min-width: 1200px) {
    .col-lg-12	{	width: 100%;		}
    .col-lg-11	{	width: 91.66666667%;}
    .col-lg-10	{	width: 83.33333333%;}
    .col-lg-9	{	width: 75%;		}
    .col-lg-8	{	width: 66.66666667%;}
    .col-lg-7	{	width: 58.33333333%;}
    .col-lg-6	{	width: 50%;		}
    .col-lg-5	{	width: 41.66666667%;}
    .col-lg-4	{	width: 33.33333333%;}
    .col-lg-3	{	width: 25%;		}
    .col-lg-2	{	width: 16.66666667%;}
    .col-lg-1	{	width: 8.33333333%;	}
}
/* Pantalla mediano (medium) md*/
@media(max-width: 1199px) and (min-width:992px) {
    .col-md-12	{	width: 100%;		}
    .col-md-11	{	width: 91.66666667%;}
    .col-md-10	{	width: 83.33333333%;}
    .col-md-9	{	width: 75%;		}
    .col-md-8	{	width: 66.66666667%;}
    .col-md-7	{	width: 58.33333333%;}
    .col-md-6	{	width: 50%;		}
    .col-md-5	{	width: 41.66666667%;}
    .col-md-4	{	width: 33.33333333%;}
    .col-md-3	{	width: 25%;		}
    .col-md-2	{	width: 16.66666667%;}
    .col-md-1	{	width: 8.33333333%;	}
}
/* Pantalla tablet (small) sm*/
@media(max-width:991px) and (min-width:768px) {
    .col-sm-12	{	width: 100%;		}
    .col-sm-11	{	width: 91.66666667%;}
    .col-sm-10	{	width: 83.33333333%;}
    .col-sm-9	{	width: 75%;		}
    .col-sm-8	{	width: 66.66666667%;}
    .col-sm-7	{	width: 58.33333333%;}
    .col-sm-6	{	width: 50%;		}
    .col-sm-5	{	width: 41.66666667%;}
    .col-sm-4	{	width: 33.33333333%;}
    .col-sm-3	{	width: 25%;		}
    .col-sm-2	{	width: 16.66666667%;}
    .col-sm-1	{	width: 8.33333333%;	}
}
/* Pantalla telefonos (extra small) xs*/
@media(max-width:767px) {
    .col-xs-12	{	width: 100%;		}
    .col-xs-11	{	width: 91.66666667%;}
    .col-xs-10	{	width: 83.33333333%;}
    .col-xs-9	{	width: 75%;		}
    .col-xs-8	{	width: 66.66666667%;}
    .col-xs-7	{	width: 58.33333333%;}
    .col-xs-6	{	width: 50%;		}
    .col-xs-5	{	width: 41.66666667%;}
    .col-xs-4	{	width: 33.33333333%;}
    .col-xs-3	{	width: 25%;		}
    .col-xs-2	{	width: 16.66666667%;}
    .col-xs-1	{	width: 8.33333333%;	}
}